In [1]:
import pandas as pd
import numpy as np

In [2]:
bsfc = pd.read_csv('bsfc_emission.csv')

In [3]:
bsfc.head(5)

   Engine Speed (rpm)      BSFC BIODIESEL BLEND
0                1500  0.521134            B100
1                1550  0.512828            B100
2                1600  0.502318            B100
3                1650  0.489948            B100
4                1700  0.476066            B100

In [4]:
bte = pd.read_csv('BTEemission.csv')

In [6]:
bte.head(5)

   Engine Speed (rpm)        BTE  Unnamed: 2 BIODIESEL BLEND
0                1500  18.233890         NaN            B100
1                1550  18.581175         NaN            B100
2                1600  19.053938         NaN            B100
3                1650  19.633860         NaN            B100
4                1700  20.302625         NaN            B100

In [9]:
bte.dropna(axis=1, inplace=True)

In [10]:
bte.head(5)

   Engine Speed (rpm)        BTE BIODIESEL BLEND
0                1500  18.233890            B100
1                1550  18.581175            B100
2                1600  19.053938            B100
3                1650  19.633860            B100
4                1700  20.302625            B100

In [11]:
co2 = pd.read_csv('CO2_emission.csv')

In [12]:
co2.head(5)

   Engine Speed (rpm)        CO2  Unnamed: 2 BIODIESEL BLEND
0                1500  18.233890         NaN            B100
1                1550  18.581175         NaN            B100
2                1600  19.053938         NaN            B100
3                1650  19.633860         NaN            B100
4                1700  20.302625         NaN            B100

In [13]:
co2.dropna(axis=1, inplace=True)

In [14]:
co2.head(5)

   Engine Speed (rpm)        CO2 BIODIESEL BLEND
0                1500  18.233890            B100
1                1550  18.581175            B100
2                1600  19.053938            B100
3                1650  19.633860            B100
4                1700  20.302625            B100

In [15]:
co = pd.read_csv('CO_emission.csv')

In [16]:
co.dropna(axis=1, inplace=True)

In [17]:
co.head(5)

   Engine Speed (rpm)         CO BIODIESEL BLEND
0                1500  18.233890            B100
1                1550  18.581175            B100
2                1600  19.053938            B100
3                1650  19.633860            B100
4                1700  20.302625            B100

In [18]:
egt = pd.read_csv('EGT_emission.csv')

In [19]:
egt.dropna(axis=1, inplace=True)

In [20]:
egt.head(5)

   Engine Speed (rpm)        EGT BIODIESEL BLEND
0                1500  18.233890            B100
1                1550  18.581175            B100
2                1600  19.053938            B100
3                1650  19.633860            B100
4                1700  20.302625            B100

In [23]:
engine_perf = pd.read_csv('Engine_Perf_emission.csv')
engine_perf.dropna(axis=1, inplace=True)
engine_perf.head(5)

   Engine Speed (rpm)  Engine_Perf BIODIESEL BLEND
0                1500    18.233890            B100
1                1550    18.581175            B100
2                1600    19.053938            B100
3                1650    19.633860            B100
4                1700    20.302625            B100

In [25]:
engine_torq = pd.read_csv('Engine_torq_emission.csv')
engine_torq.dropna(axis=1, inplace=True)
engine_torq.head(5)

   Engine Speed (rpm)  Engine_torq BIODIESEL BLEND
0                1500    18.233890            B100
1                1550    18.581175            B100
2                1600    19.053938            B100
3                1650    19.633860            B100
4                1700    20.302625            B100

In [27]:
hc = pd.read_csv('HC_emission.csv')
hc.dropna(axis=1, inplace=True)
hc.head(5)

   Engine Speed (rpm)         HC BIODIESEL BLEND
0                1500  18.233890            B100
1                1550  18.581175            B100
2                1600  19.053938            B100
3                1650  19.633860            B100
4                1700  20.302625            B100

In [28]:
nox = pd.read_csv('nox_emission.csv')
nox.dropna(axis=1, inplace=True)
nox.head(5)

   Engine Speed (rpm)  Oxide_of_nitrogen BIODIESEL BLEND
0                1500          15.129310            B100
1                1550          16.297969            B100
2                1600          17.420172            B100
3                1650          18.498928            B100
4                1700          19.537241            B100

In [29]:
opacity = pd.read_csv('Smoke_Opacity_emission.csv')
opacity.dropna(axis=1, inplace=True)
opacity.head(5)

   Engine Speed (rpm)  Smoke_Opacity BIODIESEL BLEND
0                1500      18.233890            B100
1                1550      18.581175            B100
2                1600      19.053938            B100
3                1650      19.633860            B100
4                1700      20.302625            B100

In [30]:
import os
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
import torch.optim as optim
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from torch.utils.data import DataLoader, TensorDataset

In [31]:
file_paths = [
    bsfc, bte, co, co2, egt, engine_perf, engine_torq, hc, nox, opacity
]

In [47]:
features_name = [
    'BSFC', 'BTE', 'CO', 'CO2', 'EGT', 'ENGINE_PERF', 'ENGINE_TORQ', 'HC', 'OXIDE_OF_NITROGEN', 'SMOKE_OPACITY'
]

In [34]:
for df in file_paths:
    df.columns = df.columns.str.strip().str.upper().str.replace(' ', '_')

In [38]:
required_columns = {'ENGINE_SPEED_(RPM)', 'BIODIESEL_BLEND'}
for i, df in enumerate(file_paths):
    missing_columns = required_columns - set(df.columns)
    if missing_columns:
        raise KeyError(f"The following required columns are missing in DataFrame {i}: {missing_columns}")

In [41]:
data = file_paths[0]
for df in file_paths[1:]:
    data = pd.merge(data, df, on=['ENGINE_SPEED_(RPM)', 'BIODIESEL_BLEND'])

In [42]:
label_encoder = LabelEncoder()
data['BIODIESEL_BLEND'] = label_encoder.fit_transform(data['BIODIESEL_BLEND'])

In [48]:
X = data[['ENGINE_SPEED_(RPM)', 'BIODIESEL_BLEND']].values
y = data[features_name].values

In [49]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [50]:
X = torch.tensor(X, dtype=torch.float32)
y = torch.tensor(y, dtype=torch.float32)

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [52]:
train_dataset = TensorDataset(X_train, y_train)
test_dataset = TensorDataset(X_test, y_test)
train_loader = DataLoader(train_dataset, batch_size=32, shuffle=True)
test_loader = DataLoader(test_dataset, batch_size=32, shuffle=False)

In [53]:
class ANNModel(nn.Module):
    def __init__(self, input_size, hidden_size1, hidden_size2, output_size):
        super(ANNModel, self).__init__()
        self.hidden1 = nn.Linear(input_size, hidden_size1)
        self.hidden2 = nn.Linear(hidden_size1, hidden_size2)
        self.output = nn.Linear(hidden_size2, output_size)
        self.relu = nn.ReLU()

    def forward(self, x):
        x = self.relu(self.hidden1(x))
        x = self.relu(self.hidden2(x))
        x = self.output(x)
        return x

In [56]:
input_size = 2
hidden_size1 = 64
hidden_size2 = 32
output_size = len(features_name)

In [58]:
model = ANNModel(input_size, hidden_size1, hidden_size2, output_size)
criterion = nn.MSELoss()
optimizer = optim.Adam(model.parameters(), lr=0.001)

In [61]:
num_epochs = 100
for epoch in range(num_epochs):
    model.train()
    for batch_X, batch_y in train_loader:
        optimizer.zero_grad()
        outputs = model(batch_X)
        loss = criterion(outputs, batch_y)
        loss.backward()
        optimizer.step()
    
    if (epoch + 1) % 10 == 0:
        print(f'Epoch [{epoch + 1}/{num_epochs}], Loss: {loss.item():.4f}')

Epoch [10/100], Loss: 5.5710
Epoch [20/100], Loss: 11.5283
Epoch [30/100], Loss: 8.6933
Epoch [40/100], Loss: 11.1505
Epoch [50/100], Loss: 4.1746
Epoch [60/100], Loss: 2.8534
Epoch [70/100], Loss: 7.6155
Epoch [80/100], Loss: 17.7194
Epoch [90/100], Loss: 2.4015
Epoch [100/100], Loss: 4.1395

In [62]:
model.eval()
with torch.no_grad():
    test_loss = 0
    for batch_X, batch_y in test_loader:
        outputs = model(batch_X)
        loss = criterion(outputs, batch_y)
        test_loss += loss.item()
    test_loss /= len(test_loader)
    print(f'Test Loss: {test_loss:.4f}')

Test Loss: 7.7848

In [63]:
with torch.no_grad():
    all_outputs = model(X).numpy()

In [67]:
new_values = pd.DataFrame(all_outputs, columns=features_name)
new_values['ENGINE_SPEED_(RPM)'] = data['ENGINE_SPEED_(RPM)']
new_values['BIODIESEL BLEND'] = data['BIODIESEL_BLEND']
new_values.to_csv('predicted_values.csv', index=False)

print('New values saved to predicted_values.csv')

New values saved to predicted_values.csv